<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="suit001">
    <test name="by_group">
        <groups>
            <run>
                <include name="group01"></include>
                <exclude name="group02"></exclude>
            </run>
        </groups>
        <classes>
            <class name="com.hg.auto.testng.TestNGGroupDemoTest"></class>
        </classes>
    </test>
    <test name="by_classes">
        <classes>
            <class name="com.hg.auto.testng.TestNGDemoTest"></class>
            <class name="com.hg.auto.testng.TestNGDependenciesTest"></class>
            <class name="com.hg.auto.testng.TestNGThreadsDemoTest"></class>
            <class name="com.hg.auto.testng.TestNGDataProviderTest"></class>
        </classes>
    </test>
</suite>